body{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    position: relative;
    padding: 10px;
    background-color: rgba(0, 0, 255, 0.411);
}
a{
    position: relative;
    left: -10px;
    padding: 10px;
    background-color: rgba(128, 128, 128, 0.596);
    color: #000;
}
ul{
    position: absolute;
    top: -18px;
    right: 0;
}
li{
    cursor: pointer;
    padding: 10px;
    background-color: rgba(128, 128, 128, 0.596);
    list-style: none;
    margin: 10px;
}
.container{
    display: flex;
    justify-content: flex-end;
}
li:hover{
    color: #fff;
    background-color: rgba(90, 89, 89, 0.637);
}
div{
    width: auto;
    height: 400px;
}
h1{
    text-align: center;
}
.amarelo{
    background-color: #FFDF24;
}
.verde{
    background-color: #30FF94 ;
}
.rosa{
    background-color: #FF6857;
}
.blue{
    background-color: #3A24FF;
}